.container-cards {
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: solid 1px lightgray;

  .card {
    width: 80%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;

    .card-title {
      display: flex;
      flex-direction: row;

      img {
        margin-left: 7px;
        margin-bottom: 4px;
      }
    }
  }

  .btn.btn-outline-secondary:focus {
    box-shadow: none;
  }

  @media screen and (min-width: 992px) {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    
    .container-card {
      display: flex;
      flex-direction: row;
      margin: 0px 15%;

      .card {
        width: 25%;
        margin: 0px 10px;
      }
    }
  }
}
