.container-header {
  .logged {
    font-weight: bold;
    margin-top: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;

    .logout {
      img {
        margin-left: 5px;
      }
    }
  }

  .header-mobile {
    .div-login {
      margin-top: 15px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;

      span {
        border-left: solid 1px black;
        border-right: solid 1px black;
      }

      div {
        font-weight: bold;
        font-size: 18px;
      }
    }
  }

  .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    margin-top: 8px;
  }

  .navbar-mobile {
    display: flex;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: solid 1px lightgray;
    border-top: solid 1px lightgray;
    width: 90%;
    justify-content: center;
  }

  .header-desktop {
    display: none;
  }

  @media screen and (min-width: 992px) {
    .header-mobile {
      display: none;
    }

    .navbar-mobile {
      display: none;
    }

    .header-desktop {
      display: flex;
      flex-direction: column;

      .header-top {
        display: flex;
        flex-direction: row;
        padding: 15px 250px;
        border-bottom: solid 1px lightgrey;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        width: -webkit-fill-available;

        div {
          display: flex;
          flex-direction: row;

          span {
            display: flex;
            flex-direction: row;
          }
        }

        .span-telephone {
          img {
            width: 14px;
          }

          span {
            padding-left: 5px;
          }
        }

        .span-email {
          img {
            width: 14px;
          }

          padding-left: 20px;

          span {
            padding-left: 5px;
          }
        }
      }
    }

    .div-socials {
      margin-right: 50%;
      margin-left: 5px;

      img {
        cursor: pointer;
        margin-left: 8px;
        width: 15px;
      }
    }

    .logged-desktop {
      font-weight: bold;
      margin-left: 25px;

      .logout {
        cursor: pointer;
        
        img {
          margin-left: 5px;
        }
      }

      .name-display {
        
        margin-right: 25px;
      }
    }

    .div-login {
      span {
        cursor: pointer;
        font-weight: bold;
        margin-left: 25px;
      }
    }

    .header-navbar {
      display: flex;
      flex-direction: row;
      padding: 30px;
      margin-left: auto;
      margin-right: auto;

      .logo {
        width: 100px;
        height: 100px;
        margin-top: 0;
        margin-left: 0;
      }

      .navbar {
        width: 640px;
        margin-left: 70px;

        .dropdown-button {
          width: 160px;
          text-align: center;
          font-size: 1.4em;
        }

        .dropdown-menu {
          align-items: center;
          display: flex;
          flex-direction: column;
          height: 0px;
          visibility: hidden;
          transition: all 0.2s;
          transition-timing-function: ease-in-out;

          a {
            font-size: 1.2em;
            text-decoration: none;
            margin-bottom: 6px;
            color: transparent;
            transition: 0.3s;
          }
        }

        .dropdown-button:hover {
          .dropdown-menu {
            height: 130px;
            visibility: visible;
          }

          a {
            color: black;
          }
        }
      }
    }
  }
}
