.modal-body {
  display: flex;
  flex-direction: column;

  span{
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
    justify-content: space-evenly;
  }
  
  input {
    width: 80%;
    border: none;
    border-bottom: solid 1px lightgrey;

    &:focus {
      border: none;
      outline: none;
    }
  } 
}
